@import url("https://fonts.googleapis.com/css?family=Coda");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Marvel");
* {
  box-sizing: border-box; }

.row::before,
.row::after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  text-align: center; }

.major_headers, .header h1, .main h1, .story h1, .people h1, .contact h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 50px; }

.text_content, .header, .main p, .people, .contact p, .footer {
  font-family: "Marvel", sans-serif;
  color: #313332;
  font-size: 20px; }

.hero {
  background-image: url("images/mount.jpeg");
  background-size: cover;
  background-position: center;
  font-family: "Coda", cursive;
  width: 100%;
  height: 60vh; }
  .hero .hero_nav {
    height: 20vh; }
  .hero .hero_content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh; }
  .hero .hero_text {
    text-align: center; }
  .hero ul {
    float: right;
    list-style-type: none; }
  .hero li {
    display: inline-block;
    transition: transform .4s; }
    .hero li:hover {
      transform: scale(1.3); }
  .hero a {
    text-decoration: none;
    transition: transform .4s;
    color: #FFF;
    font-size: 20px;
    padding: 10px; }
    .hero a:hover {
      color: #f1c40f;
      transform: scale(1.3); }
  .hero .trekker {
    float: left;
    color: #FFF;
    font-size: 20px;
    padding: 15px; }
    .hero .trekker:hover {
      color: #BF0F06; }
  .hero p {
    color: #FFF;
    font-size: 50px;
    font-family: "Kaushan Script", cursive;
    margin: 20px;
    text-shadow: 1px 1px 1px #f1c40f; }
  .hero h3 {
    color: #FFF;
    font-family: "Kaushan Script", cursive;
    font-size: 45px;
    margin: 20px;
    text-shadow: 1px 1px 1px #f1c40f; }
  .hero .hero_btn {
    font-family: "Marvel", sans-serif;
    font-size: 20px;
    color: #FFF;
    background-color: #f1c40f;
    border: 2px solid #f1c40f;
    border-radius: 5%;
    padding: 5px 15px; }
    .hero .hero_btn:hover {
      color: #f1c40f;
      background-color: #FFF; }

.header {
  margin: 80px; }
  .header .reasons {
    margin-top: 80px; }
  .header h2 {
    font-family: "Kaushan Script", cursive;
    font-size: 30px; }
  .header i.fa {
    font-size: 60px;
    color: #f1c40f;
    border: 4px solid #f1c40f;
    padding: 15px;
    border-radius: 50%; }
  .header p {
    padding: 0 30px; }

.main h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 28px;
  margin: 5px; }
.main p {
  margin: 5px; }
.main .gallery {
  margin: 50px 0; }
.main .gallery_row {
  margin: 40px 0; }

.story {
  margin-top: 100px;
  font-family: "Marvel", sans-serif;
  font-size: 20px; }
  .story p {
    margin: 10px 20px; }
  .story h1 {
    margin: 5px; }
  .story h3 {
    font-family: "Kaushan Script", cursive;
    font-size: 28px;
    margin: 0 20px; }
  .story .row {
    display: inline-flex;
    margin-bottom: 40px; }
  .story .row_first {
    margin-top: 70px; }
  .story .img_box {
    flex: 1;
    order: 1; }
  .story .text_box_left {
    flex: 2;
    order: 0;
    text-align: right; }
  .story .empty_box_left {
    flex: 2;
    order: 2; }
  .story .text_box_right {
    flex: 2;
    order: 2;
    text-align: left; }
  .story .empty_box_right {
    flex: 2;
    order: 0; }

.round_img {
  border-radius: 50%; }

.people {
  margin-top: 100px; }
  .people h1 {
    margin: 5px; }
  .people p {
    margin: 5px; }
  .people h2 {
    font-family: "Kaushan Script", cursive;
    font-size: 28px;
    margin: 5px; }
  .people .people_content {
    margin-top: 80px; }
  .people i.fa {
    font-size: 25px;
    border: 3px solid #000;
    border-radius: 50%;
    color: #000;
    padding: 10px; }
  .people i.fa-facebook {
    padding: 10px 16px; }
  .people i.fa-instagram {
    padding: 10px 13px; }
  .people i.fa-google-plus {
    padding: 10px 7px; }
  .people i.fa-youtube-square {
    padding: 10px 12px; }
  .people .people_text {
    margin: 60px; }

.contact {
  background-image: url("images/cont.jpeg");
  background-position: center;
  background-size: cover;
  height: 70vh;
  color: #FFF;
  margin-top: 50px; }
  .contact h1 {
    margin: 5px; }
  .contact p {
    color: #FFF; }
  .contact input[type=text] {
    width: 95%;
    padding: 13px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px; }
  .contact textarea {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px; }
  .contact .form {
    font-family: "Marvel", sans-serif;
    font-size: 15px; }
  .contact .contact_text {
    margin: 20px;
    padding-top: 20px; }
  .contact .btn_submit {
    background-color: #f1c40f;
    margin: 20px 0;
    padding: 15px 60px;
    font-family: "Marvel", sans-serif;
    font-size: 30px;
    color: #FFF; }

.footer {
  height: 30px; }
  .footer .foot {
    padding: 20px; }
  .footer i.fa {
    font-size: 25px;
    border: 3px solid #000;
    border-radius: 50%;
    color: #FFF;
    background-color: #000;
    padding: 10px; }
  .footer i.fa-facebook {
    padding: 10px 16px; }
  .footer i.fa-instagram {
    padding: 10px 13px; }
  .footer i.fa-google-plus {
    padding: 10px 7px; }
  .footer i.fa-github {
    padding: 10px 12px; }

@media (max-width: 767px) {
  [class*="col-"] {
    width: 100%;
    padding: 12px;
    float: left; }

  .hero ul {
    float: none;
    list-style-type: none;
    text-align: center; }
  .hero li {
    display: block;
    text-align: center;
    transition: transform .4s; }
    .hero li:hover {
      transform: scale(1.3); }
  .hero .trekker {
    float: none;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    padding: 15px; }
  .hero .hero_nav {
    height: auto;
    background-color: #183b53; }

  .story .row_left, .story .row_right, .story .row {
    display: inline;
    margin-bottom: 40px; }
  .story .box {
    text-align: center; }
  .story p {
    width: 70%;
    margin: 15px auto 35px; } }
@media (min-width: 768px) and (max-width: 1199px) {
  [class*="col-"] {
    width: 100%;
    padding: 12px;
    float: left; }

  .hero ul {
    float: none;
    list-style-type: none;
    text-align: center; }
  .hero li {
    display: block;
    text-align: center;
    transition: transform .4s; }
    .hero li:hover {
      transform: scale(1.3); }
  .hero .trekker {
    float: none;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    padding: 15px; }
  .hero .hero_nav {
    height: auto;
    background-color: #183b53; }

  .story .row_left, .story .row_right {
    display: flex;
    margin-bottom: 40px; }
  .story .img_box {
    flex: 4;
    order: 1; }
  .story .text_box_left {
    flex: 4;
    order: 0;
    text-align: right; }
  .story .empty_box_left {
    flex: 0;
    order: 2; }
  .story .text_box_right {
    flex: 4;
    order: 2;
    text-align: left; }
  .story .empty_box_right {
    flex: 0;
    order: 0; }
  .story .box {
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
